:root {
    --main-color: #283747;
    --white-color: #FFFFFF;    
}
html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Ubuntu', sans-serif;
}
.titulo {
    font-size: 3rem;
    text-align: center;
}
.bg-menu {
    background-color: var(--main-color)
}
.contenedor {
    width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
 }
.main-nav {
    padding: 1rem;
}
.main-nav a {
    color: var(--white-color);
    text-decoration: none;
}
h1 span {
    font-size: 1.5rem; 
    display: block;
    margin-top: 0.5rem;
}
main {
    text-align: center;
}